<div class="welcome_well">

  <div class="row welcome_row">
    <div class="col-md-3"></div>
    <div class="col-md-6 welcome_content">
      <h2 class="center_text">WELCOME TO THE WORLD</h2>
      <h5>
        Lorem ipsum dolor sit amet, at paulo utamur sea. Homero euismod mel ei, ad ipsum audire ius. Pro ne odio timeam admodum, rebum integre bonorum in est, adhuc partem singulis eos ei. Ne duo graecis disputationi, at semper volumus qui. Meliore vulputate efficiantur ei sit. Iisque prompta blandit cum an. At populo nostrud labores qui. <br>
        Ubique vocent ex vim, duo eu soleat senserit. Cibo dolore ut est. Cu vis inermis salutatus, pro eros argumentum no. Cu vix vero atqui causae. Qui no tantas eirmod, qui aperiri feugait cu.
      </h5>
    </div>
    <div class="col-md-3"></div>
  </div>

</div>
