<div class="welcome_well">

  <div class="row welcome_row">
    <div class="col-md-2"></div>
    <div class="col-md-8 welcome_content">
      <h1 class="center_text welcome_header">Welcome to a World of Celebration</h1>
      <hr>
      <h5>
        Many of us celebrate well known holidays throughout the year. However, there are many holidays right on our calendars that many of us have never even heard of or taken the time to learn about. This is why our application, "World of Celebration", was created.
        <br><br>
        What holidays do people celebrate on Aland Island? How about Singapore, Guatemala or Martinique? What about the place your great grandparents immigrated from? Have you ever wondered not only what these cultures celebrate but why?
        <br><br>
        World of Celebration wants to help you learn more about your culture and other cultures around the world. Beyond that, you might just find that certain informational sites on the web don't even give information on many of these holidays that are an important part of history.
        <br><br>
        Let's all learn together and become aware of events in world history that led to many amazing holidays and days of rememberance all around the world.
        <br><br>
        <h4>Users must have a Google / Gmail account to log in and use this site. If you do not have a Google or Gmail account please visit <a href="www.gmail.com">Gmail</a> and sign up for an account. Once you have a registered account you will be able to log in to this site and begin your exploration and potential contribution.</h4>
        <br>
        <div class="cursive center_text">
          <h3>Thanks for visiting! We're glad you're here.</h3>
        </div>
        <br>
      </h5>
    </div>
    <div class="col-md-2"></div>
  </div>

</div>
