<div class="row">
  <div class="col-md-3">
    <h4 class="center_text">PICK YOUR COUNTRY</h4>
    <h5>
      There are many countries to choose from. Pick one and start discovering holidays you didn't even know about. Who knows, you might even find a holiday that you didn't know people from your own heritage might be celebrating. Enjoy exploring.
    </h5>
    <hr>
    <h5>
      !!!!! POTENTIAL LIST OF HOLIDAYS BEING CELEBRATED TODAY AND WHAT COUNTRY !!!!!
      <br>
      <p>ADD COUNTRIES HERE</p>
      <br>
      <p>ADD COUNTRIES HERE</p>
      <br>
      <p>ADD COUNTRIES HERE</p>
      <br>
      <p>ADD COUNTRIES HERE</p>
      <br>
      <p>ADD COUNTRIES HERE</p>
    </h5>
  </div>
  <div class="col-md-9">
    <div class="row">
      <% @countries.each do |country| %>
      <div class="country col-md-2">
        <div class="country_<%= country.abbreviation %> card">
          <img class="index_flag" src="<%= country.flag_img_url %>" alt="<%= "#{country.name} flag" %>">
          <h4 class="name center_text"><%= link_to country.name, country_path(country.id) %></h4>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
