<div class="row">
  <% @countries.each do |country| %>
  <div class="country col-md-3">
    <div class="<%= "country_" + country.abbreviation %>">
      <img class="index_flag" src="<%= country.flag_img_url %>" alt="<%= "#{country.name} flag" %>">
      <h4 class="name"><%= link_to country.name, country_path(country.id) %></h5>
        <hr>    
      </div>
    </div>
    <% end %>
  </div>
