<div class="row">
  <div class="col-md-3 nice_font center_text left_pane">
    <h4 class="center_text"><strong>EXPLORE OUR WORLD</strong></h4>
    <h5>
      There are many countries and territories to choose from. Pick one and start discovering holidays you didn't even know about. Who knows, you might even find a holiday that you didn't know people from your own heritage might be celebrating. <strong>Enjoy exploring.</strong>
    </h5>
    <hr>
    <img class="little_holiday_pic" src="https://www.calvertbeacon.com/wp-content/uploads/dragon-boat-Solomons.jpg" alt="Danish Dance">
    <h5 class ="center_text" ><a href="https://en.wikipedia.org/wiki/Dragon_Boat_Festival">China - Learn about Dragon Boat Festival</a></h5>
    <hr>
    <img class="little_holiday_pic" src="https://farm9.staticflickr.com/8505/8526523189_8b0535b4a2.jpg" alt="Danish Dance">
    <h5 class ="center_text" ><a href="https://en.wikipedia.org/wiki/Africa_Day">Zimbabwe - Learn about Africa Day</a></h5>
    <hr>
    <img class="little_holiday_pic" src="https://i2.wp.com/www.dsmmagazine.com/wp-content/uploads/2017/05/Screen-Shot-2017-05-09-at-9.16.06-AM.png?fit=718%2C358" alt="Danish Dance">
    <h5 class ="center_text" ><a href="https://en.wikipedia.org/wiki/Brazilian_Carnival">Brazil - Learn about Carnival</a></h5>
    <hr>
    <img class="little_holiday_pic" src="http://www.invernessfestivals.com/09season/summerblog/images/Danish_Dancers_2010_112.jpg" alt="Danish Dance">
    <h5 class ="center_text" ><a href="https://en.wikipedia.org/wiki/Store_Bededag">Denmark - Learn about Store Bededag</a></h5>
    <hr>
    <img class="little_holiday_pic" src="https://publicholidays-mt.akamaized.net/wp-content/uploads/2016/09/Malta_Easter_Body.jpg" alt="Danish Dance">
    <h5 class ="center_text" ><a href="https://en.wikipedia.org/wiki/Maundy_Thursday">Venezuela - Learn about Maundy Thursday</a></h5>
    <hr>
    <img class="little_holiday_pic" src="http://perucatolico.com/wp-content/uploads/2016/08/santa-rosa-peru-catolico.png" alt="Danish Dance">
    <h5 class ="center_text" ><a href="https://en.wikipedia.org/wiki/Rose_of_Lima">Peru - Learn about Santa Rosa de Lima</a></h5>
    <hr>
    <br>
    <br>
    <br>
  </div>
  <div class="col-md-9">
    <div class="row">
      <% @countries.each do |country| %>
      <div class="country col-md-2">
        <div class="country_<%= country.abbreviation %> card">
          <img class="index_flag" src="<%= country.flag_img_url %>" alt="<%= "#{country.name} flag" %>">
          <h4 class="name center_text"><%= link_to country.name, country_path(country.id) %></h4>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
