/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/
td {
  font-family: 'Julius Sans One', sans-serif;
}
.yielded_content {
  padding-left: 10px;
  padding-right: 10px;
}
.holiday_card {
  border-color: grey;
  border-style: solid;
  border-width: thin;
}
.index_flag {
  margin-top: 3px;
  height: 75px;
  width: 100%;
}
.tiny_flag {
  width: 60px;
  height: 40px;
}
.flag_image_show {
  border-style: solid;
  border-width: thin;
}
.country_header {
  background-color: lightgrey;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Satisfy', cursive;
}
.center_text {
  text-align: center;
}
h3.holiday_title {
  margin-top: 5px;
  margin-bottom: 0px;
  font-size: 50px;
}
div .row.welcome_row {
  background-image: url("https://images.unsplash.com/photo-1508519829430-40f7d3d161b4?auto=format&fit=crop&w=2850&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");
  height: 100%;
  background-size: cover;
  resize: both;
  overflow: scroll;
}
.welcome_header {
  font-size: 50px;
}
.welcome_content {
  margin-top: 5%;
  margin-bottom: 20%;
  background-color: whitesmoke; opacity:0.9;;
  border-radius: 5px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
header nav a.navbar-brand {
  font-family: 'Satisfy', cursive;
  font-size: 30px;
}
h4.name.center_text {
  font-family: 'Satisfy', cursive;
  height: 40px;
}
h1.center_text.welcome_header {
  font-family: 'Satisfy', cursive;
}
nav.navbar.navbar-default {
  background-color: powderblue;
  margin-bottom: 0px;
}
.cursive {
  font-family: 'Satisfy', cursive;
}
.nice_font {
  font-family: 'Julius Sans One', sans-serif;
}
.little_holiday_pic {
  width: 100%;
  border-radius: 5px;
}
.left_pane {
  background-color: whitesmoke;
}
.country_little_link {
  background-color: whitesmoke;
}
.wikipedia_link {
  font-size: 20px;
}
.google_link {
  font-size: 20px;
}
.holiday_name {
  font-size: 28px;
}
