/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  margin-left: 3%;
  margin-right: 3%;
}
.holiday_card {
  border-color: grey;
  border-style: solid;
  border-width: thin;
}
.index_flag {
  width: 200px;
  height: 130px;
}
.tiny_flag {
  width: 60px;
  height: 40px;
}
.flag_image_show {
  /*max-width: 300px;*/
  width: 100%;
  border-color: white;
  border-style: solid;
  border-width: thin;
}
.country_header {
  background-color: darkgrey;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
}
.center_text {
  text-align: center;
}
h3.holiday_title {
  margin-top: 5px;
  margin-bottom: 0px;
  font-size: 40px;
}
h1.country_name_title {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 60px;
  color: white;
}
